@import "reset.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

/* í‘œ (table) */
table,
td,
th {
  border: 1px solid black;
  text-align: center;
}
table {
  margin-top: 30px;
}
th {
  padding: 10px;
}
td {
  padding: 15px 5px;
}

thead,
tfoot {
  color: black;
}

.shortTd {
  width: 100px;
}
.longTd {
  width: 200px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.term {
  line-height: 1.5;
  margin: 5px 0;
}

@media screen and (min-width: 415px) {
  body {
    padding: 40px 40px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 50px;
  }
}
